a {
  color: #acc3a6ff;
  font-weight: bolder;
  font-family: Abril Fatface, cursive;
  font-size: large;
}



img {
  border: 10px solid #f5d6baff;
}



.albumlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.flex {
    color: #a40e4cff;
    font-family: Abril Fatface, cursive;
    font-size: x-large;
}

h1 {
    color: #a40e4cff;
    font-family: Abril Fatface, cursive;
    font-size: 500%;
    
}


h2 {
    color: #2c2c54ff;
    font-family: Abril Fatface, cursive;
    
}

h3 {
  color: #a40e4cff;
  font-family: Abril Fatface, cursive;
}

h4 {
  color: #f49d6eff;
  font-family: Abril Fatface, cursive;
}

body {
  background-color: blanchedalmond;
}

p {
  font-family: Abril Fatface, cursive;
  color: #acc3a6ff;
}




