{% extends "base.html" %}

{% block content %}
<center><h1>Delete Album</h1></center>

<div>
  <form action="{% url 'delete_album' pk=album.pk %}" method="POST">
    {% csrf_token %}
    <center><p>Are you sure you want to delete {{ album.album_title }}?</p></center>
    <center><div>
      <button type="submit" class="btn btn-danger">Delete Album</button>
      <!-- <button type="submit">Delete Album</button><br /> -->
      <a href="{% url 'list_albums' %}">Cancel</a>
    </div></center>
  </form>
</div>
{% endblock %}

